<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erickogi14gmail.study20">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.Read.ReadActivity"
            android:label="@string/title_activity_read"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.addContent.AddCourse"
            android:label="@string/title_activity_add_course"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.login.Login"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.login.Register"
            android:label="Sign Up"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>